// Place all the styles related to the sentences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	text-align:center;
	vertical-align:middle;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	color: rgb(38,38,38);
}

.sentence { 

			
			}

#false {
	display:none;
}

#true {
	display:block;
}

