// Place all the styles related to the sentences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// thanks to http://eclipsecolorthemes.org/?view=theme&id=66 for the sublime text color themes


body {
	text-align:center;
	vertical-align:middle;
   		   	font-family: Consolas,
             "Lucida Console",
             Monaco,
             monospace;
   	font-weight: 300;
   	color: rgb(38,38,38);
   	 position:absolute;
    top:15%;
    right:25%;
    bottom:25%;
    left:25%;
    background:#272822;
}


h1 {
	color:rgb(139,137,137);
	color:#FF007F;
	font-weight:420;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

#the-button {
	color:#52E3F6;
	font-style:italic;
	text-decoration: none;
}

#the-context {
	color:#A7EC21;
	font-style:italic;
	text-decoration: none;
}


#sentenceview {	
	text-align:center;
	margin-right: auto;
	margin-left: auto;
	width:600px;
	color:#C48CFF;
	   	font-family: Consolas,
             "Lucida Console",
             Monaco,
             monospace;
	border-left:thin #5B5A4E;
	border-left-style:dotted;
	padding-left: 4px;
	font-size:16px;
}

.sentence {
	display:none;
}

#sentenceview span {
	color:rgb(139,137,137);
	color:#ECE47E;
}
